@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

$color-off-white: #f2f2f2;
$color-light-gray: #cccccc;
$color-medium-gray: #404040;
$color-dark-gray: #262626;
$color-off-black: #1a1a1a;
$color-light-blue: #cce6ff;
$color-medium-blue: #80bfff;
$color-dark-blue: #0080ff;

.drop {
  margin: 0 auto;
  font-family: 'Hind', sans-serif;
  width: 500px;

  &.small {
    .drop__image {
      height: 100px;
    }
    .drop__main {
      transform: translateY(-100%);
    }
    .drop__tracks {
      margin-top: -100%;
      z-index: -1;
      transition: margin-top .5s ease;
    }
    .drop__controls.--small {
      opacity: 1;
      transition: all .5s .5s ease;
    }
    .drop__progress.--background {
      height: 18px;
    }
    .drop__tooltip-value {
      background: transparent;
      padding: 0;
      top: -100%;
    }
  }

  &__player {
    display: table;
    width: 100%;
    overflow: hidden;
  }

  &__images {
    position: relative;
    display: flex;
    overflow: hidden;
    z-index: 2;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, rgba($color-dark-gray, 0.8) , transparent);
      z-index: 1;
    }
  }

  &__image {
    position: relative;
    flex: 1 0 100%;
    width: 100%;
    height: 250px;
    transition: all .5s ease;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    &.active {
      .drop__background {
        width: 120%;
        height: 120%;
        left: -10%;
        top: -10%;
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .75s ease;
  }

  &__info {
    position: absolute;
    z-index: 3;
  }

  &__header {
    padding: 10px;

    h3, h5 {
      margin: 0;
    }
  }

  &__title {
    color: $color-off-white;
    font-weight: 400;
    font-size: 17px;
  }

  &__artist {
    color: white;
    font-weight: 400;
    font-size: 14px;
  }

  &__top {
    position: relative;
    display: table-row;
  }

  &__main {
    display: table-row;
    background-color: $color-dark-gray;
    position: relative;
    background-image: linear-gradient(to top, $color-off-black -20px , transparent 15px);
    z-index: -5;
    transition: all .5s ease;
    transform: translateY(0);
  }

  &__controls {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    z-index: 2;
    overflow: hidden;

    &.--small {
      position: absolute;
      bottom: 4px;
      opacity: 0;
      transition: all .5s 0s ease;
      margin: 0 11px;
    }
  }

  &__buttons {
    &.--left {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      margin-top: 1px;
    }
  }

  &__button {
    color: $color-off-white;
    transition: all .25s ease;
    cursor: pointer;
    padding: 10px;

    &.--tracks {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      margin-top: 1px;
    }

    &.--small {
      padding: 6px; 
      &:hover, &.active {
        background: none;
        box-shadow: none;
      }
    }

    &.inactive {
      background: darken($color-dark-gray, 5%);
      i {
        color: $color-medium-gray;
      }
    }

    &:hover {
      i {
        color: $color-medium-blue;
      }
    }

    &:hover, &.active {
      background: darken($color-off-black, 2%);
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    &.active {
      i {
        color: $color-dark-blue;
      }
    }
  }

  &__icon {
    font-size: 16px;
    color: $color-off-white;
    transition: all .25s ease;
  }

  &__progress {

    &.--container {
      position: relative;
      z-index: 10;
    }
    
    &.--bar {
      width: 100%;
      cursor: pointer;
    }

    &.--background {
      display: block;
      position: relative;
      background-color: $color-off-white;
      height: 40px;
      overflow: hidden;
      width: 100%;
      cursor: pointer;
    }

    &.--indicator {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0;
      background-color: $color-dark-blue;
      cursor: pointer;
      transition: all .25s ease;
    }
  }

  &__time {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: $color-dark-gray;
    font-size: 14px;
    z-index: 1;
    pointer-events: none;

    &.--remaining {
      text-align: right;
      right: 10px;
    }
  }

  &__tracks {
    position: relative;
    margin-top: -100%;
    transition: margin-top .5s ease;
    z-index: -1;
    overflow: scroll;

    &.active {
      margin-top: 0;
      z-index: 0;
      transition: margin-top .5s, z-index 0s .5s ease;
    }
  }

  &__track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-dark-gray;
    padding: 8px;
    border-left: solid 0px transparent;
    border-bottom: solid 1px $color-medium-gray;
    transition: all .25s ease;
    cursor: pointer;

    &.active {
      border-left: solid 8px $color-dark-blue;
      background-color: $color-off-black;
    }

    &-image {
      width: 70px;
      height: 70px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-info {
      padding: 0 10px;
      color: $color-off-white;

      p {
        font-size: 14px;
        margin: 0;

        & + p {
          font-size: 11px;
          letter-spacing: 0;
        }
      }
    }
  }

  &__tooltip {
    position: absolute;
    width: 4px;
    height: 100%;
    top: 0;
    background: lighten($color-dark-blue, 20%);
    z-index: 1;
    opacity: 1;
    transition: all .25s ease;
    pointer-events: none;
    opacity: 0;

    &.active {
      opacity: 1;
    }

    &-value {
      color: $color-off-white;
      font-size: 12px;
      padding: 0 4px;
      position: absolute;
      text-align: center;
      top: -20px;
      left: 50%;
      transform: translate(-50%, 0);
      background: $color-dark-gray;
      transition: all .25s ease;
      white-space: nowrap;

      &.left {
        left: 0;
        right: auto;
        transform: translate(0, 0);
      }

      &.right {
        left: auto;
        right: 0;
        transform: translate(0, 0);
      }
    }
  }

  &__mode {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 4;

    &-button {
      color: $color-off-white;
      z-index: 5;
      transition: all .25s ease;
      cursor: pointer;

      &:hover {
        i {
          color: $color-medium-blue;
        }
      }
    }
  }

  &__track-button {
    margin: 0 8px;
  }
}
